<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/themes/theme.css" />
  <link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>


<body>
    <div data-role="header">
      <h1>Details about {{name}}</h1>
    </div>
    
    <div data-role="content" class="detailsPage">
        <h2>{{name}}</h2>
        <img class="detailsImage" src="{{imageurl}}"/>
        <br/>
        <p>Early Decision: {{duedate.ed_due_date}}</p>
        <p>Regular Decision: {{duedate.due_date}}</p>
        <p>Location: {{location}}</p>
        <p>Size: {{size}}</p>
        <p>Acceptance Rate: {{AR}}%</p>
        <p>Religious Affiliation: {{religious_affiliation}}</p>
        <p>Male-Female Ratio: {{male_female}}</p>
        <p>Race/Ethnicity</p>
    </div>

    <div data-role="footer" data-position="fixed" data-tap-toggle="false">		
    </div>
  
</body>