<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/themes/theme.css" />
  <link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
  <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>


<body>
    <div data-role="header">
      <h1>College Tracker</h1>
    </div>
    
    
    <ul data-role="listview" data-inset="true">
        {{#each schools}}
        <li>
            <a href="/college/{{id}}">
                <img src="{{imageurl}}">
                <h2>{{name}}</h2>
                <p>Early Decision: {{duedate.ed_due_date}}</br>
                Regular Decision: {{duedate.due_date}}</p>
            </a>
        </li>
        {{/each}}
    </ul>

    <div data-role="footer" data-position="fixed" data-tap-toggle="false">		
    	<div data-role="navbar">
    		<ul>
    			<li><a href="/random" id="stressedButton">Stressed?</a></li>
    		</ul>
    	</div>
    </div>
  
</body>